<div class="colon ligne">
    <div class="comp" >
        <div class="ligne">
        <label class="label100" >Soma</label>
        <input class="champ1" name="data.soma.valeur" type="number" value="{{data.data.soma.valeur}}"/>
        </div>
        <div class="ligne">
        <label class="label100" >Arme tranchante</label>
        <input class="champ1" name="data.soma.capacité.armet" type="number" value="{{data.data.soma.capacité.armet}}"/>
        <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">
        <label class="label100" >Arme perforante</label>
        <input class="champ1" name="data.soma.capacité.armep" type="number" value="{{data.data.soma.capacité.armep}}"/>
        <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">
        <label class="label100" >Arme contondante</label>
        <input class="champ1" name="data.soma.capacité.armec" type="number" value="{{data.data.soma.capacité.armec}}"/>
        <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">
        <label class="label100" >Arme</label>
        <input class="champ2" name="data.soma.capacité.armeper.noma" type="text" value="{{data.data.soma.capacité.armeper.noma}}"/>
        <input class="champ1" name="data.soma.capacité.armeper.val" type="number" value="{{data.data.soma.capacité.armeper.val}}"/>
        <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">
        <label class="label100" >Arme arc</label>
        <input class="champ1" name="data.soma.capacité.armea" type="number" value="{{data.data.soma.capacité.armea}}"/>
        <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">
        <label class="label100" >Arme fronde</label>
        <input class="champ1" name="data.soma.capacité.armef" type="number" value="{{data.data.soma.capacité.armef}}"/>
        <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">
        <label class="label100" >Arme jet</label>
        <input class="champ1" name="data.soma.capacité.armej" type="number" value="{{data.data.soma.capacité.armej}}"/>
        <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">
        <label class="label100" >Athlétisme</label>
        <input class="champ1" name="data.soma.capacité.athletisme" type="number" value="{{data.data.soma.capacité.athletisme}}"/>
        <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">
        <label class="label100" >Bouclier</label>
        <input class="champ1" name="data.soma.capacité.bouclier" type="number" value="{{data.data.soma.capacité.bouclier}}"/>
        <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">
        <label class="label100" >Cond. attelage</label>
        <input class="champ1" name="data.soma.capacité.attelage" type="number" value="{{data.data.soma.capacité.attelage}}"/>
        <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">
        <label class="label100" >Endurance</label>
        <input class="champ1" name="data.soma.capacité.endurance" type="number" value="{{data.data.soma.capacité.endurance}}"/>
        <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">
        <label class="label100" >Equitation</label>
        <input class="champ1" name="data.soma.capacité.equitation" type="number" value="{{data.data.soma.capacité.equitation}}"/>
        <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">
        <label class="label100" >Esquive</label>
        <input class="champ1" name="data.soma.capacité.esquive" type="number" value="{{data.data.soma.capacité.esquive}}"/>
        <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">
        <label class="label100" >Grimper</label>
        <input class="champ1" name="data.soma.capacité.grimper" type="number" value="{{data.data.soma.capacité.grimper}}"/>
        <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">
        <label class="label100" >Natation</label>
        <input class="champ1" name="data.soma.capacité.natation" type="number" value="{{data.data.soma.capacité.natation}}"/>
        <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">
        <label class="label100" >Pugilat</label>
        <input class="champ1" name="data.soma.capacité.pugilat" type="number" value="{{data.data.soma.capacité.pugilat}}"/>
        <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">
        <label class="label100" >Souplesse</label>
        <input class="champ1" name="data.soma.capacité.souplesse" type="number" value="{{data.data.soma.capacité.souplesse}}"/>
        <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">
        <label class="label100" >Vol à la tire</label>
        <input class="champ1" name="data.soma.capacité.vol" type="number" value="{{data.data.soma.capacité.vol}}"/>
        <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
    </div>

    <div class="comp">
        <div class="ligne">
        <label class="label100" >Sophos</label>
        <input class="champ1" name="data.sophos.valeur" type="number" value="{{data.data.sophos.valeur}}"/>
        </div>
        <div class="ligne">
        <label class="label100" >Agriculture</label>
        <input class="champ1" name="data.sophos.capacité.agriculture" type="number" value="{{data.data.sophos.capacité.agriculture}}"/>
        <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">
        <label class="label100" >Alchimie</label>
        <input class="champ1" name="data.sophos.capacité.alchimie" type="number" value="{{data.data.sophos.capacité.alchimie}}"/>
        <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">
        <label class="label100" >Artisanat forge</label>
        <input class="champ1" name="data.sophos.capacité.forge" type="number" value="{{data.data.sophos.capacité.forge}}"/>
        <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">
        <label class="label100" >Artisanat charpentier</label>
        <input class="champ1" name="data.sophos.capacité.charpentier" type="number" value="{{data.data.sophos.capacité.charpentier}}"/>
        <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">
        <label class="label100" >Artisanat</label>
        <input class="champ1" name="data.sophos.capacité.artisanat" type="number" value="{{data.data.sophos.capacité.artisanat}}"/>
        <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">
        <label class="label100" >Epos animaux</label>
        <input class="champ1" name="data.sophos.capacité.animaux" type="number" value="{{data.data.sophos.capacité.animaux}}"/>
        <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">
        <label class="label100" >Epos plantes</label>
        <input class="champ1" name="data.sophos.capacité.plantes" type="number" value="{{data.data.sophos.capacité.plantes}}"/>
        <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">
        <label class="label100" >Epos géographie</label>
        <input class="champ1" name="data.sophos.capacité.geographie" type="number" value="{{data.data.sophos.capacité.geographie}}"/>
        <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">
        <label class="label100" >Epos mythologie</label>
        <input class="champ1" name="data.sophos.capacité.mytologie" type="number" value="{{data.data.sophos.capacité.mytologie}}"/>
        <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">
        <label class="label100" >Epos créatures fabuleuses</label>
        <input class="champ1" name="data.sophos.capacité.creafab" type="number" value="{{data.data.sophos.capacité.creafab}}"/>
        <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">
        <label class="label100" >Epos us & coutumes</label>
        <input class="champ1" name="data.sophos.capacité.coutumes" type="number" value="{{data.data.sophos.capacité.coutumes}}"/>
        <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">
        <label class="label100" >Gestion patrimoine</label>
        <input class="champ1" name="data.sophos.capacité.patrimoine" type="number" value="{{data.data.sophos.capacité.patrimoine}}"/>
        <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">
        <label class="label100" >Ingénierie</label>
        <input class="champ1" name="data.sophos.capacité.ingenierie" type="number" value="{{data.data.sophos.capacité.ingenierie}}"/>
        <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">
        <label class="label100" >Lire/écrire Grec</label>
        <input class="champ1" name="data.sophos.capacité.legrec" type="number" value="{{data.data.sophos.capacité.legrec}}"/>
        <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">
        <label class="label100" >Lire/écrire Barbare</label>
        <input class="champ1" name="data.sophos.capacité.lebarbare" type="number" value="{{data.data.sophos.capacité.lebarbare}}"/>
        <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">
        <label class="label100" >Lire/écrire Aegyptien</label>
        <input class="champ1" name="data.sophos.capacité.leaegyptien" type="number" value="{{data.data.sophos.capacité.leaegyptien}}"/>
        <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">
        <label class="label100" >Médecine</label>
        <input class="champ1" name="data.sophos.capacité.medecine" type="number" value="{{data.data.sophos.capacité.medecine}}"/>
        <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">
        <label class="label100" >Navigation</label>
        <input class="champ1" name="data.sophos.capacité.navigation" type="number" value="{{data.data.sophos.capacité.navigation}}"/>
        <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">
        <label class="label100" >Occultisme</label>
        <input class="champ1" name="data.sophos.capacité.ocultisme" type="number" value="{{data.data.sophos.capacité.ocultisme}}"/>
        <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">
        <label class="label100" >Pièges</label>
        <input class="champ1" name="data.sophos.capacité.pieges" type="number" value="{{data.data.sophos.capacité.pieges}}"/>
        <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">
        <label class="label100" >Résistance</label>
        <input class="champ1" name="data.sophos.capacité.resistance" type="number" value="{{data.data.sophos.capacité.resistance}}"/>
        <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">
        <label class="label100" >Stratégie</label>
        <input class="champ1" name="data.sophos.capacité.strategie" type="number" value="{{data.data.sophos.capacité.strategie}}"/>
        <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">
        <label class="label100" >Survie</label>
        <input class="champ1" name="data.sophos.capacité.survie" type="number" value="{{data.data.sophos.capacité.survie}}"/>
        <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">
        <label class="label100" >Théologie</label>
        <input class="champ1" name="data.sophos.capacité.theologie" type="number" value="{{data.data.sophos.capacité.theologie}}"/>
        <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
    </div>

    <div class="comp">
        <div class="ligne">
            <label class="label100" >Symbiose</label>
            <input class="champ1" name="data.symbiose.valeur" type="number" value="{{data.data.symbiose.valeur}}"/>
        </div>
        <div class="ligne">        
            <label class="label100" >Art lyriques</label>
            <input class="champ1" name="data.symbiose.capacité.artlyr" type="number" value="{{data.data.symbiose.capacité.artlyr}}"/>
            <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">      
            <label class="label100" >Commandement</label>
            <input class="champ1" name="data.symbiose.capacité.commandement" type="number" value="{{data.data.symbiose.capacité.commandement}}"/>
            <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">      
            <label class="label100" >Comédie/Danse</label>
            <input class="champ1" name="data.symbiose.capacité.comdan" type="number" value="{{data.data.symbiose.capacité.comdan}}"/>
            <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">      
            <label class="label100" >Diplomatie</label>
            <input class="champ1" name="data.symbiose.capacité.diplomatie" type="number" value="{{data.data.symbiose.capacité.diplomatie}}"/>
            <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">      
            <label class="label100" >Discrétion</label>
            <input class="champ1" name="data.symbiose.capacité.discretion" type="number" value="{{data.data.symbiose.capacité.discretion}}"/>
            <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">      
            <label class="label100" >Divination</label>
            <input class="champ1" name="data.symbiose.capacité.divination" type="number" value="{{data.data.symbiose.capacité.divination}}"/>
            <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">      
            <label class="label100" >Dressage</label>
            <input class="champ1" name="data.symbiose.capacité.dressage" type="number" value="{{data.data.symbiose.capacité.dressage}}"/>
            <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">      
            <label class="label100" >Evaluation</label>
            <input class="champ1" name="data.symbiose.capacité.evaluation" type="number" value="{{data.data.symbiose.capacité.evaluation}}"/>
            <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">      
            <label class="label100" >Fouille</label>
            <input class="champ1" name="data.symbiose.capacité.fouille" type="number" value="{{data.data.symbiose.capacité.fouille}}"/>
            <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">      
            <label class="label100" >Intimidation</label>
            <input class="champ1" name="data.symbiose.capacité.intimidation" type="number" value="{{data.data.symbiose.capacité.intimidation}}"/>
            <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">      
            <label class="label100" >Marchandage</label>
            <input class="champ1" name="data.symbiose.capacité.marchandage" type="number" value="{{data.data.symbiose.capacité.marchandage}}"/>
            <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">      
            <label class="label100" >Parler Grec</label>
            <input class="champ1" name="data.symbiose.capacité.pargrec" type="number" value="{{data.data.symbiose.capacité.pargrec}}"/>
            <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">      
            <label class="label100" >Parler Barbare</label>
            <input class="champ1" name="data.symbiose.capacité.parbarbare" type="number" value="{{data.data.symbiose.capacité.parbarbare}}"/>
            <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">      
            <label class="label100" >Parler Aegyptien</label>
            <input class="champ1" name="data.symbiose.capacité.paraegyptien" type="number" value="{{data.data.symbiose.capacité.paraegyptien}}"/>
            <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">      
            <label class="label100" >Perception</label>
            <input class="champ1" name="data.symbiose.capacité.perception" type="number" value="{{data.data.symbiose.capacité.perception}}"/>
            <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">      
            <label class="label100" >Persuasion</label>
            <input class="champ1" name="data.symbiose.capacité.persuasion" type="number" value="{{data.data.symbiose.capacité.persuasion}}"/>
            <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">      
            <label class="label100" >Pistage</label>
            <input class="champ1" name="data.symbiose.capacité.pistage" type="number" value="{{data.data.symbiose.capacité.pistage}}"/>
            <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">      
            <label class="label100" >Politique</label>
            <input class="champ1" name="data.symbiose.capacité.politique" type="number" value="{{data.data.symbiose.capacité.politique}}"/>
            <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">      
            <label class="label100" >Séduction</label>
            <input class="champ1" name="data.symbiose.capacité.seduction" type="number" value="{{data.data.symbiose.capacité.seduction}}"/>
            <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">      
            <label class="label100" >Sensibilité</label>
            <input class="champ1" name="data.symbiose.capacité.sensibilite" type="number" value="{{data.data.symbiose.capacité.sensibilite}}"/>
            <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">      
            <label class="label100" >Vigilance</label>
            <input class="champ1" name="data.symbiose.capacité.vigilance" type="number" value="{{data.data.symbiose.capacité.vigilance}}"/>
            <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div class="ligne">      
            <label class="label100" >Réseau</label>
            <input class="champ1" name="data.symbiose.capacité.reseau" type="number" value="{{data.data.symbiose.capacité.reseau}}"/>
            <a class="jetde"><i class="fas fa-dice-d20"></i></a>
        </div>
    </div>
</div>