<form class="{{cssClass}}" autocomplete="off">
    <i>
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="128" width="128" />
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>

        <label>Déscription
            <textarea name="data.description">{{data.data.description}}</textarea>
        </label>

        <label>Types
            <input name="data.type" type="text" value="{{data.data.type}}" placeholder=""/>
        </label>

        <label>Localisation
            <input name="data.localisation" type="text" value="{{data.data.localisation}}" placeholder=""/>
        </label>
        <label>PA
            <input name="data.pa" type="text" value="{{data.data.pa}}" placeholder=""/>
        </label>
        <label>PE
            <input name="data.pe" type="text" value="{{data.data.pe}}" placeholder=""/>
        </label>
    </i>
</form>